.App {
  margin: 0;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: grey;
}
nav h1{
  margin: 0px;
}
nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 60%;
  margin-left: 15%;
  
  
}
nav li{
  display: flex;
}

.content img{
  width: 250px;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}
.info{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  border: 1px solid black;
}
.content{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 250px;
  margin: 20px;
  background-color: grey;
}
.content-b{
  padding: 5px;
}